<!DOCTYPE html>
<html>
<head>
    <title>Saved Users</title>
</head>
<body>

    <center>

        <h1>All Saved Users</h1>

        <table border="1" cellpadding="10">

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Phone</th>
                <th>Occupation</th>
                <th>Address</th>
                <th>Relationship</th>
                <th>Email</th>
                <th>Denomination</th>
            </tr>

            {% for user in users %}

            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td>{{ user[6] }}</td>
                <td>{{ user[7] }}</td>
                <td>{{ user[8] }}</td>
            </tr>

            {% endfor %}

        </table><br><br>
        
        <a href="/">Go Back</a>

    </center>

</body>
</html>